{% extends 'base/base_head.html' %}
{% load static %}

{% block bloque_titulo %}
Sistema de administración de contenido | Sobre mí
{% endblock bloque_titulo %}

{% block bloque_nav_item_sobre_mi %}
<li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4 active" href={% url 'about' %}><i
            class="bi bi-info-circle"></i> Sobre mí</a></li>
{% endblock bloque_nav_item_sobre_mi %}

{% block bloque_h1_header %}
Sobre mí
{% endblock bloque_h1_header %}

{% block bloque_sub_header %}
Un resumen del autor.
{% endblock bloque_sub_header %}

{% block bloque_contenido %}
<section class="testimonials text-center bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img id="about-image" class="img-fluid rounded-circle mb-3" src={% static 'assets/img/alonso.jpg' %}
                        alt="Braian Alonso" />
                    <br>
                    <h4>Braian Alonso</h4>
                    <br>
                    <p> 
                        || <strong> Correo </strong> : Braianalonso29@gmail.com <br>
                        || <strong>Celular</strong> : 2226 457 999 <br>
                        || <strong>Linkedin </strong>: https://www.linkedin.com/in/braianalonso29/ <br>
                        || <strong>GitHub</strong> : https://github.com/Braian29 <br>
                    </p>
                    <br>
                    <h5>¿Quién Soy?</h5>
                    <p>

                        Soy bajista, Técnico Electromecánico, ex Comprador Industrial y actualmente desempeño el rol de
                        Coordinador de Sistemas en una empresa Retail, teniendo a cargo el correcto funcionamiento de
                        SAP Business One como ERP, y 3 integraciones. También soy el responsable de Proyectos y Cambios
                        Tecnológicos en la empresa.<br><br>
                        Nací en la ciudad de Cañuelas, Buenos Aires, hace 30 años; y desde junio de 2021 vivo en San
                        Carlos de Bariloche, Río Negro.<br><br>
                        Comencé mis estudios en IT con los cursos de Data Analytics y Data Science en Coderhouse, al
                        mismo tiempo que recibí capacitaciones sobre SAP Business One. Donde me adentré en las
                        funcionalidades del ERP y, sobre todo, en bases de datos, encargándome del reporting y
                        visualización de datos. Hoy estoy centrado en nuevas integraciones y aprendiendo mucho de estos proyectos.<br><br>
                    </p>
                    </p>
                    <h5>¿Adónde Voy?</h5>
                    <p>
                        Actualmente disfruto mucho volcar sobre plataformas web las aplicaciones que ya he
                        desarrollado en Python, como aplicaciones de escritorio, cuadernos Colab y otras herramientas
                        creadas para la empresa donde estoy trabajando.  <br><br>
                        Busco poder seguir desarrollándome en esta rama y seguir aprendiendo, cada día, 
                        herramientas y tecnologías para crear nuevas y mejores soluciones. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock bloque_contenido %}